header{
  margin: 75px 15% 0 15%;
}
.menu{
  display: inline-block;
  float: right;
}
.header__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 42px;
  font-style: italic;
  line-height: 25px;
}
.menu_link {
  display: inline-block;
  color:  #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 18px 33px 18px 33px;
  border-radius: 0;
  text-decoration: none;
}
.menu_li{
  display: inline-block;
  text-decoration: none;
}
.menu_seach {
  display: inline-block;
}
@media screen and (max-width: 1024px) {
  header{
    margin: 75px 6.25% 0 6.25%;
  }
}
@media only screen and (max-width: 769px) {
  header .menu {
    display: none;
  }
  .menu_icon {
    display: inline-block;
    float: right;
  }
  .hidden-menu {
    display: block;
    position: fixed;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 250px;
    background-color: #212644;
    height: 100%;
    top: 0;
    right: -250px;
    transition: right .2s;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    li {
      margin-left: 60px;
      margin-top: 30px;
      a {
        width: 71px;
        height: 83px;
        color: #ffffff;
        font-size: 18px;
        font-weight: 700;
        line-height: 70px;
        text-transform: uppercase;
        text-decoration: none;
      }
    }
  }
  .hidden-menu__footer_title {
    //width: 97px;
    //height: 21px;
    margin: 250px 0 20px 40px;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
    line-height: 25px;
  }
  .hidden-menu__footer_subtitle {
    margin: 23px 0 20px 40px;
    width: 159px;
    height: 29px;
    opacity: 0.4;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
  }
  .hidden-menu__seach {
    form {
      display: flex;
      margin: 30px;
    }
    .hidden-menu__input {
      background-color: #212644;
      border: 0;
      width: 140px;
      height: 14px;
      opacity: 0.4;
      color: #ffffff;
      font-size: 18px;
      font-weight: 300;
      line-height: 70px;
      text-transform: uppercase;
      margin-right: 10px;
    }
    .hidden-menu__submit {
      background-image: url(images/search.png);
      background-color: #212644;
      border: 0;
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
  .hidden-menu__hr {
    background-color: #ffffff;
    height: 1px;
    width: 100%;
    opacity: 0.1;
  }
  .hidden-menu-ticker {
    display: none;
  }
  .btn-menu {
    cursor: pointer;
    transition: right .23s;
    z-index: 3;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
  .hidden-menu-ticker:checked ~ .btn-menu {
    right: 250px;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    svg {
      display: none;
    }
  }
  .hidden-menu-ticker:checked ~ .hidden-menu {
    right: 0;
  }
}
@media only screen and (min-width: 769px) {
  .menu_icon {
    display: none;
  }
}