header{
  margin: 75px 15% 0 15%;
}
@media screen and (max-width: 1024px) {
  header{
    margin: 75px 6.25% 0 6.25%;
  }
}
@media only screen and (max-width: 768px) {
  header .menu {
    display: none;
  }
  .menu_icon {
    display: inline-block;
    float: right;
  }
}
@media only screen and (min-width: 768px) {
  .menu_icon {
    display: none;
  }
}
.menu{
  display: inline-block;
  float: right;
}
.header__title {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 42px;
  font-style: italic;
  line-height: 25px;
}
.menu_link {
  display: inline-block;
  color:  #333333;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  text-align: right;
  margin: 0;
  border: 0;
  padding: 18px 33px 18px 33px;
  border-radius: 0;
  text-decoration: none;
}
.menu_li{
  display: inline-block;
  text-decoration: none;
}
.menu_seach {
  display: inline-block;
}