<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <link rel="stylesheet" type="text/css" href="./main.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Palo-Alto, Omsk" />
    <meta name="description" content="Palo-Alto maket" />
    <link rel="shortcut icon" type="image/png" href="./images/cherry.png" sizes="32x32"/>
</head>
<body>
{{> includes/header/header}}

{{#> main-block}}
{{/main-block}}

{{> includes/footer/footer}}
</body>
</html>
