{{#> layout/base }}

{{#*inline "main-block"}}
<main>
    <div class="post_image">
        <img src="Yosemite.jpg">
    </div>
    <div class="main_conteiner">
        <div class="header">
            <div class="data">Sep 20</div>
            <div class="bookmark">I Do Observe</div>
            <h2 class="header__name">No difference how many peaks you reach if there was no pleasure in </h2>
            <div class="header__divider"></div>
        </div>
        <div class="subtitle">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finCurabitur luctus placerat lorem id eleifend. Nulla ac lacus finCurabitur luctus placerat lorem id eleifend. Nulla ac lacus finCurabitur luctus placerat lorem id eleifend. Nulla ac lacus finCurabitur luctus placerat lorem id eleifend. Nulla ac lacus fin</div>
        <div class="post">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
        <div class="post_footer">
            <button class="post_button">
                <span>READ MORE</span>
            </button>
            <div class="hashtag">
                <a class="hashtag_link" href="home.html">#Yosemite</a>
                <a class="hashtag_link" href="home.html">#Peak</a>
                <a class="hashtag_link" href="home.html">#Exploer</a>
            </div>
        </div>
    </div>
</main>
{{/inline}}

{{/layout/base }}