$white-color: #ffffff;
$blue-color: #5c6bc0;
.data {
  color:  #bdbdbd;
  font-size: 14px;
  line-height: 50px;
  text-align: left;
  display: inline-block;
}
.post_image img{
  width: 100%;
}
.bookmark {
  display: inline-block;
  position: absolute;
  right: 14%;
  background-color:  $blue-color;
  color:  $white-color;
  font-size: 14px;
  padding: 10px 14px 10px 14px;
}
.subtitle {
  margin: 75px 0px 0px 0px;
  color:  #909090;
  font-size: 25px;
  font-style: italic;
  line-height: 38px;
}
.post {
  font-size: 17px;
  font-weight: 400;
  line-height: 30px;
  margin: 40px 0px 75px 0px;
  color:  #414141;
}
.post_footer {
  margin: 75px 0px 75px 0px;
}
.post_footer_button {
  display: inline-block;
}
.post_button {
  display: inline-block;
  font-size: 21px;
  margin: 0;
  border: 0;
  background: $white-color;
  padding: 18px 33px 18px 33px;
  border: 1px solid $white-color;
}
.post_button span {
  color: $blue-color;
}

.post_button:hover {
  border: 1px solid #f1f1f1;
}

.post_button:active {
  border: 1px solid #5c6bc0;
}
.hashtag {
  display: inline-block;
  float: right;
  margin: 7px 0 0 0;
}
.hashtag_link {
  text-decoration: none;
  color:  #b2b2b2;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  margin: 0 10px 0 0;
}
.hashtag_link:hover {
  color:  #5c6bc0;
}
@media screen and (max-width: 1024px) {
  .main_conteiner {
    margin: 0 6.9% 75px;
  }
  .bookmark {
    right: 4%;
  }
}
@media screen and (max-width: 768px) {
  .header__name {
    font-size: 24px;
  }
  .post {
    font-size: 16px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 30px;
  }
  .main_conteiner {
    padding: 30px 0 30px 0;
  }
  .hashtag {
    display: block;
    float: none;
  }
  .post_button {
    display: block;
    padding: 14px 10px;
    margin: 10px;
    font-size: 20px;
  }
}