footer {
  background-color: #5c6bc0;
  padding: 70px 0 0 0;
}
.footer__name {
  font-size: 36px;
  color: #4a569a;
  text-align: center;
}

.menu-footer{
  float: none;
  padding: 0 40% 0 43%;
}
.menu_link-footer {
  color:  #ffffff;
  font-weight: 500;
}
