footer {
  background-color: #5c6bc0;
  padding: 70px 0 0 0;
}
.footer__name {
  font-size: 36px;
  color: #4a569a;
  text-align: center;
}

.menu-footer{
  width: 280px;
  display: block;
  float: none;
  margin: auto;
}
.menu_link-footer {
  color:  #ffffff;
  font-weight: 500;
}
.copyright{
  width: 535px;
  margin: auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-bottom: 35px;
}
.copyright span {
  color:  #909090;
}
.social_icon {
  width: 176px;
  margin: auto;
}
.facebook_icon {
  display: inline-block;
  margin-right: 24px;
  margin-bottom: 70px;
}
.twitter_icon {
  display: inline-block;
  margin-right: 24px;
}
.instagram_icon {
  display: inline-block;
  margin-right: 24px;
}
.pinterest_icon {
  display: inline-block;
}