footer {
  background-color: #5c6bc0;
  padding: 70px 0 70px 0;
}
.social_link {
  text-decoration: none;
}
.footer__name {
  font-size: 36px;
  color: #4a569a;
  text-align: center;
  font-style: italic;
  line-height: 25px;
}
.menu-footer{
  width: 300px;
  display: block;
  float: none;
  margin: auto;
}
.menu_link-footer {
  color:  #ffffff;
  font-weight: 500;
}
.copyright{
  margin: auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 35px;
  text-align: center;
}
.copyright span {
  color:  #909090;
}
.social_icon {
  width: 230px;
  margin: auto;
}
.facebook_icon {
  display: inline-block;
  margin-right: 20px;
  background-image: url(./images/social@2x.png);
  background-size: auto 33px;
  background-position: 0px 0;
  width: 32px;
  height: 32px;
}
.twitter_icon {
  display: inline-block;
  margin-right: 20px;
  background-image: url(./images/social@2x.png);
  background-size: auto 33px;
  background-position: -67px 0;
  width: 40px;
  height: 32px;
}
.instagram_icon {
  display: inline-block;
  margin-right: 20px;
  background-image: url(./images/social@2x.png);
  background-size: auto 33px;
  background-position: -134px 0;
  width: 38px;
  height: 33px;
}
.pinterest_icon {
  display: inline-block;
  background-image: url(./images/social@2x.png);
  background-size: auto 33px;
  background-position: 37px 0;
  width: 37px;
  height: 33px;
}
@media only screen and (min-device-pixel-ratio: 2.0) {
  .facebook_icon .twitter_icon .instagram_icon .pinterest_icon{
    background-image: url(./images/social@3x.png);
  }
}
@media only screen and (max-width: 768px) {
  .menu_li {
    display: block;
    text-align: center;
  }
  .menu-footer {
    width: 130px;
  }
  .menu_seach {
    display: none;
  }
}