<footer>
    <div class="footer__name">Palo Alto</div>
    <div class="menu menu-footer">
        <div class="menu_li">
            <a href="/home.html" class="menu_link menu_link-footer">HOME</a>
        </div>
        <div class="menu_li">
            <a href="/index.html" class="menu_link menu_link-footer">PROFILE</a>
        </div>
        <div class="menu_seach">
            <svg xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 width="16px" height="16px" viewBox="0 0 16 16">
                <path fillRule="evenodd" d="M 15.53 15.53C 14.95 16.12 14 16.12 13.41 15.53 13.41 15.53 10.76 12.89 10.76 12.89 9.68 13.58 8.39 14 7 14 3.13 14 0 10.87 0 7 0 3.13 3.13-0 7-0 10.87-0 14 3.13 14 7 14 8.39 13.58 9.68 12.89 10.76 12.89 10.76 15.53 13.41 15.53 13.41 16.12 14 16.12 14.95 15.53 15.53ZM 7 2C 4.24 2 2 4.24 2 7 2 9.76 4.24 12 7 12 9.76 12 12 9.76 12 7 12 4.24 9.76 2 7 2Z" fill="rgb(255,255,255)"/></svg>
        </div>
    </div>
    <div>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22px" height="22px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                  d="M20.315,21.992 L1.685,21.992 C0.748,21.992 -0.012,21.304 -0.012,20.368 L-0.012,1.702 C-0.012,0.767 0.748,0.008 1.685,0.008 L20.315,0.008 C21.252,0.008 22.012,0.767 22.012,1.702 L22.012,20.368 C22.012,21.304 21.252,21.992 20.315,21.992 ZM8.851,4.250 C7.845,4.250 7.409,4.410 6.752,4.731 C6.094,5.051 5.620,5.618 5.375,6.127 C5.130,6.637 5.008,7.257 5.008,8.291 L5.008,9.299 L2.990,9.299 L2.990,11.972 L5.008,11.972 L5.008,20.004 L7.992,20.004 L7.992,11.972 L10.710,11.972 L11.318,9.299 L7.992,9.299 L7.992,8.348 C7.992,7.724 8.105,7.301 8.333,7.081 C8.561,6.861 9.534,6.730 10.058,6.730 C10.591,6.730 11.018,6.977 11.556,7.291 L12.198,4.869 C11.210,4.591 9.882,4.250 8.851,4.250 Z"/>
        </svg>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="24px" height="20px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                  d="M16.320,0.007 C18.226,-0.027 19.240,0.686 20.208,1.593 C21.030,1.521 22.099,1.049 22.728,0.720 C22.932,0.606 23.136,0.491 23.340,0.376 C22.981,1.374 22.493,2.156 21.744,2.749 C21.578,2.881 21.413,3.058 21.204,3.142 C21.204,3.146 21.204,3.150 21.204,3.154 C22.272,3.143 23.152,2.648 23.988,2.380 C23.988,2.384 23.988,2.388 23.988,2.393 C23.549,3.110 22.955,3.838 22.320,4.359 C22.064,4.568 21.808,4.777 21.552,4.986 C21.566,6.148 21.536,7.256 21.324,8.232 C20.096,13.906 16.841,17.757 11.688,19.407 C9.838,20.000 6.848,20.243 4.728,19.702 C3.677,19.434 2.727,19.132 1.836,18.731 C1.341,18.509 0.882,18.268 0.444,17.993 C0.300,17.904 0.156,17.813 0.012,17.723 C0.490,17.737 1.049,17.873 1.584,17.784 C2.067,17.704 2.542,17.725 2.988,17.624 C4.101,17.374 5.089,17.042 5.940,16.531 C6.352,16.282 6.979,15.991 7.272,15.633 C6.719,15.643 6.218,15.512 5.808,15.363 C4.217,14.785 3.290,13.724 2.688,12.129 C3.170,12.183 4.559,12.313 4.884,12.030 C4.277,11.996 3.693,11.635 3.276,11.367 C1.996,10.544 0.952,9.164 0.960,7.039 C1.128,7.121 1.296,7.203 1.464,7.285 C1.785,7.425 2.112,7.499 2.496,7.580 C2.658,7.614 2.982,7.712 3.168,7.642 C3.160,7.642 3.152,7.642 3.144,7.642 C2.896,7.345 2.493,7.148 2.244,6.830 C1.423,5.781 0.653,4.167 1.140,2.245 C1.263,1.757 1.459,1.326 1.668,0.929 C1.676,0.933 1.684,0.937 1.692,0.942 C1.787,1.148 2.001,1.298 2.136,1.470 C2.555,2.004 3.073,2.485 3.600,2.908 C5.396,4.352 7.014,5.239 9.612,5.896 C10.271,6.063 11.033,6.190 11.820,6.191 C11.599,5.529 11.670,4.459 11.844,3.818 C12.282,2.208 13.233,1.047 14.628,0.425 C14.962,0.276 15.332,0.168 15.720,0.081 C15.920,0.056 16.120,0.032 16.320,0.007 Z"/>
        </svg>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22px" height="22px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                  d="M19.282,21.990 L2.718,21.990 C1.223,21.990 0.011,20.777 0.011,19.282 L0.011,2.718 C0.011,1.223 1.223,0.010 2.718,0.010 L19.282,0.010 C20.777,0.010 21.989,1.223 21.989,2.718 L21.989,19.282 C21.989,20.777 20.777,21.990 19.282,21.990 ZM11.000,6.995 C9.389,6.995 8.004,7.949 7.368,9.321 L7.365,9.321 C7.358,9.335 7.354,9.351 7.347,9.365 C7.309,9.450 7.275,9.537 7.243,9.624 C7.228,9.666 7.211,9.708 7.197,9.750 C7.168,9.839 7.144,9.932 7.120,10.024 C7.110,10.067 7.097,10.109 7.087,10.154 C7.066,10.251 7.051,10.351 7.038,10.451 C7.032,10.491 7.024,10.530 7.019,10.572 C7.004,10.713 6.996,10.855 6.996,11.000 C6.996,13.212 8.788,15.004 11.000,15.004 C13.212,15.004 15.004,13.212 15.004,11.000 C15.004,10.855 14.996,10.713 14.981,10.572 C14.976,10.530 14.968,10.491 14.962,10.451 C14.949,10.351 14.934,10.251 14.913,10.154 C14.903,10.109 14.890,10.067 14.880,10.024 C14.856,9.932 14.832,9.839 14.803,9.750 C14.789,9.708 14.772,9.666 14.757,9.624 C14.725,9.537 14.691,9.450 14.653,9.365 C14.646,9.351 14.642,9.335 14.635,9.321 L14.632,9.321 C13.996,7.949 12.611,6.995 11.000,6.995 ZM19.009,4.079 C19.009,3.480 18.524,2.995 17.926,2.995 L17.053,2.995 C16.455,2.995 15.970,3.480 15.970,4.079 L15.970,4.916 C15.970,5.513 16.455,5.998 17.053,5.998 L17.926,5.998 C18.524,5.998 19.009,5.513 19.009,4.916 L19.009,4.079 ZM19.978,9.011 L16.710,9.011 C16.864,9.572 17.052,10.443 17.052,11.053 C17.052,14.717 13.974,17.047 11.000,17.047 C7.956,17.047 4.953,14.717 4.953,11.053 C4.953,10.443 5.168,9.572 5.322,9.011 L2.027,8.980 L2.027,18.895 C2.027,19.493 2.512,19.977 3.110,19.977 L18.895,19.977 C19.493,19.977 19.978,19.493 19.978,18.895 L19.978,9.011 Z"/>
        </svg>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22px" height="22px">
            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                  d="M11.000,0.011 C4.931,0.011 0.011,4.931 0.011,11.000 C0.011,15.523 2.745,19.408 6.649,21.095 C6.621,20.329 6.648,19.415 6.842,18.587 C7.055,17.693 8.263,12.577 8.263,12.577 C8.263,12.577 7.910,11.873 7.910,10.832 C7.910,9.199 8.858,7.977 10.037,7.977 C11.040,7.977 11.525,8.732 11.525,9.634 C11.525,10.642 10.882,12.150 10.550,13.547 C10.275,14.717 11.139,15.672 12.293,15.672 C14.381,15.672 15.787,12.988 15.787,9.807 C15.787,7.391 14.161,5.581 11.199,5.581 C7.855,5.581 5.768,8.075 5.768,10.863 C5.768,11.824 6.053,12.502 6.497,13.026 C6.701,13.267 6.729,13.364 6.654,13.642 C6.601,13.843 6.482,14.332 6.431,14.527 C6.358,14.806 6.130,14.904 5.878,14.802 C4.338,14.174 3.619,12.486 3.619,10.589 C3.619,7.456 6.262,3.699 11.502,3.699 C15.714,3.699 18.485,6.747 18.485,10.016 C18.485,14.345 16.079,17.576 12.534,17.576 C11.343,17.576 10.222,16.932 9.840,16.203 C9.840,16.203 9.198,18.740 9.064,19.233 C8.832,20.071 8.386,20.908 7.973,21.567 C8.933,21.842 9.949,21.989 11.000,21.989 C17.069,21.989 21.989,17.069 21.989,11.000 C21.989,4.931 17.069,0.011 11.000,0.011 Z"/>
        </svg>
    </div>
</footer>