
body {
    font-family: 'Lato', sans-serif;
    margin: 140px;
}
button {
    font-size: 21px;
    margin: 0;
    border: 0;
    background: #ffffff;
    padding: 18px 33px 18px 33px;
    border-radius: 0;
}
span {
    color: #5c6bc0;
}

button:hover {
    border: 1px solid #f1f1f1;
}

button:active {
    border: 1px solid #5c6bc0;
}